body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.robot-img{
  position: absolute;
 
padding-top: 121px;
padding-left: 61px;
padding-right: 880px;
width: 499px;
height: 445px; 
background: 0% 0% no-repeat padding-box;
opacity: 1;
}

.logo-img{
  position: absolute;
  padding-top: 39px;
  padding-left: 49px;
  width: 145px;
  height: 46px;

  opacity: 1;

}

.intersection-layout{
  position: absolute;
  padding-top: 0px;
  padding-left: 700px;
  padding-right: 0%;
  width: 668px;
  height: 800px;

  background: transparent url('img/.intersection-layout') 0% 0% no-repeat padding-box;
  opacity: 1;
}


.small-4-pics{
  display: flex;
  padding-top: 631px;
  padding-left: 61px;
  top: 631px;
  width: 100px;
  height: 100px;
  opacity: 1;
  margin-right: 133px;
}


.first-head-box
{
  display: flex;
  position: absolute;
  margin-top: 857px;
  margin-left: 440px;
  width: 517px;
  height: 67px;
  text-align: center;
  font: normal normal medium 51px/60px Roboto;
  letter-spacing: 0px;
  opacity: 1;
}

.para-css{
  position: absolute;
  top: 963px;
  left: 112px;
  width: 1217px;
  height: 134px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 24px/34px Roboto;
  letter-spacing: 0px;
  color: #152745;
  opacity: 1;
}

.rectangle { 
top: 4317px;
left: 0px;
width: 1440px;
height: 430px;
background: #152745 0% 0% no-repeat padding-box;
opacity: 1;
}


.span-box{
  /* Layout Properties */
  position: absolute;
top: 857px;
left: 440px;
width: 517px;
height: 67px;
/* UI Properties */
text-align: center;
font: normal normal medium 51px/60px Roboto;
letter-spacing: 0px;
opacity: 1;
}
.first-span{
  top: 0px;
left: 4px;
width: 280px;
height: 67px;
font-size:xx-large;
font-weight: 600;
/* UI Properties */
text-align: center;
font: normal normal medium 51px/60px Roboto;
letter-spacing: 0px;
color: #152745;
}

.second-span{
  /* Layout Properties */
top: 0px;
left: 284px;
width: 230px;
height: 67px;
font-size: xx-large;
font-weight: 600;
/* UI Properties */
text-align: center;
font: normal normal medium 51px/60px Roboto;
letter-spacing: 0px;
color: #FC6603;
}

.line-css{
  position: absolute;
  top: 931px;
left: 587px;
width: 213px;
height: 0px;
/* UI Properties */
background: 0% 0% no-repeat padding-box;
border: 3px solid #FC6603;
opacity: 1;
}

.orange-rectangle{
  position:absolute;
  top: 1193px;
  left: 0px;
  width: 1440px;
  height: 365px;
  background: transparent url('img/Rectangle 30.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.why-chooose-box{
  position: absolute;
  top: 1227px;
  left: 544px;
  width: 353px;
  height: 37px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 28px/18px Roboto;
  letter-spacing: 0px;
  opacity: 1;
}

.why-text{
top: 0px;
left: 3px;
width: 205px;
height: 37px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #152745;
}

.choose-text{
top: 1193px;
left: 208px;
width: 142px;
height: 37px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
}

.orange-robot{
  /* Layout Properties */
position: absolute;
top: 1193px;
left: 935px;
width: 505px;
height: 365px;
/* UI Properties */
background: transparent url('img/Group 5489.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.white-box1{
  position: absolute;
  top: 1317px;
left: 91px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.white-box2{
  /* Layout Properties */
position: absolute;
top: 1422px;
left: 91px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.white-box3{
position: absolute;
top: 1317px;
left: 534px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.white-box4{
position: absolute;
/* Layout Properties */
top: 1422px;
left: 534px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.span1{
  position: absolute;
  top: 1336px;
left: 106px;
width: 205px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal bold 20px/26px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.span2{
  position: absolute;
  top: 1429px;
left: 138px;
width: 141px;
height: 53px;
/* UI Properties */
text-align: center;
font: normal normal bold 20px/26px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.span3{
  position: absolute;
  top: 1324px;
left: 549px;
width: 205px;
height: 53px;
/* UI Properties */
text-align: center;
font: normal normal bold 20px/26px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.span4{
  position: absolute;
  top: 1442px;
  left: 581px;
  width: 141px;
  height: 27px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 20px/26px Roboto;
  letter-spacing: 0px;
  color: #152745;
  opacity: 1;
}