body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.robot-img{
  position: absolute;
 
padding-top: 121px;
padding-left: 61px;
padding-right: 880px;
width: 499px;
height: 445px; 
background: 0% 0% no-repeat padding-box;
opacity: 1;
}

.logo-img{
  position: absolute;
  padding-top: 39px;
  padding-left: 49px;
  width: 145px;
  height: 46px;

  opacity: 1;

}

.intersection-layout{
  position: absolute;
  padding-top: 0px;
  padding-left: 700px;
  padding-right: 0%;
  width: 668px;
  height: 800px;

  background: transparent url('img/.intersection-layout') 0% 0% no-repeat padding-box;
  opacity: 1;
}


.small-4-pics{
  display: flex;
  padding-top: 631px;
  padding-left: 61px;
  top: 631px;
  width: 100px;
  height: 100px;
  opacity: 1;
  margin-right: 133px;
}


.first-head-box
{
  display: flex;
  position: absolute;
  margin-top: 857px;
  margin-left: 440px;
  width: 517px;
  height: 67px;
  text-align: center;
  font: normal normal medium 51px/60px Roboto;
  letter-spacing: 0px;
  opacity: 1;
}

.para-css{
  position: absolute;
  top: 963px;
  left: 112px;
  width: 1217px;
  height: 134px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 24px/34px Roboto;
  letter-spacing: 0px;
  color: #152745;
  opacity: 1;
}

.rectangle { 
top: 4317px;
left: 0px;
width: 1440px;
height: 430px;
background: #152745 0% 0% no-repeat padding-box;
opacity: 1;
}


.span-box{
  /* Layout Properties */
  position: absolute;
top: 857px;
left: 440px;
width: 517px;
height: 67px;
/* UI Properties */
text-align: center;
font: normal normal medium 51px/60px Roboto;
letter-spacing: 0px;
opacity: 1;
}
.first-span{
  top: 0px;
left: 4px;
width: 280px;
height: 67px;
font-size:xx-large;
font-weight: 600;
/* UI Properties */
text-align: center;
font: normal normal medium 51px/60px Roboto;
letter-spacing: 0px;
color: #152745;
}

.second-span{
  /* Layout Properties */
top: 0px;
left: 284px;
width: 230px;
height: 67px;
font-size: xx-large;
font-weight: 600;
/* UI Properties */
text-align: center;
font: normal normal medium 51px/60px Roboto;
letter-spacing: 0px;
color: #FC6603;
}

.line-css{
  position: absolute;
  top: 931px;
left: 587px;
width: 213px;
height: 0px;
/* UI Properties */
background: 0% 0% no-repeat padding-box;
border: 3px solid #FC6603;
opacity: 1;
}

.orange-rectangle{
  position:absolute;
  top: 1193px;
  left: 0px;
  width: 1440px;
  height: 365px;
  background: transparent url('img/Rectangle 30.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.why-chooose-box{
  position: absolute;
  top: 1227px;
  left: 544px;
  width: 353px;
  height: 37px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 28px/18px Roboto;
  letter-spacing: 0px;
  opacity: 1;
}

.why-text{
top: 0px;
left: 3px;
width: 205px;
height: 37px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #152745;
}

.choose-text{
top: 1193px;
left: 208px;
width: 142px;
height: 37px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
}

.orange-robot{
  /* Layout Properties */
position: absolute;
top: 1193px;
left: 935px;
width: 505px;
height: 365px;
/* UI Properties */
background: transparent url('img/Group 5489.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.white-box1{
  position: absolute;
  top: 1317px;
left: 91px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.white-box2{
  /* Layout Properties */
position: absolute;
top: 1422px;
left: 91px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.white-box3{
position: absolute;
top: 1317px;
left: 534px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.white-box4{
position: absolute;
/* Layout Properties */
top: 1422px;
left: 534px;
width: 235px;
height: 67px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 4px 8px #00000030;
border-radius: 10px;
opacity: 1;
}

.span1{
  position: absolute;
  top: 1336px;
left: 106px;
width: 205px;
height: 29px;
/* UI Properties */
text-align: left;
font: normal normal bold 20px/26px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.span2{
  position: absolute;
  top: 1429px;
left: 138px;
width: 141px;
height: 53px;
/* UI Properties */
text-align: center;
font: normal normal bold 20px/26px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.span3{
  position: absolute;
  top: 1324px;
left: 549px;
width: 205px;
height: 53px;
/* UI Properties */
text-align: center;
font: normal normal bold 20px/26px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.span4{
  position: absolute;
  top: 1442px;
  left: 581px;
  width: 141px;
  height: 27px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 20px/26px Roboto;
  letter-spacing: 0px;
  color: #152745;
  opacity: 1;
}

.eligibility_text{
position: absolute;
top: 1654px;
left: 500px;
width: 388px;
height: 67px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #152745;
}

.subtract-css{
position:absolute;
top: 1654px;
left: -0.000030517578125px;
width: 547px;
height: 662px;
/* UI Properties */
background: 0% 0% no-repeat padding-box;
opacity: 1;
}

.eligibility-white-box1{
  position: absolute;
  top: 1799px;
left: 108px;
width: 336px;
height: 225px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #152745;
}

.eligibility-white-box2{
  position: absolute;
  top: 1799px;
left: 554px;
width: 336px;
height: 225px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}

.eligibility-white-box3{
  position: absolute;
  top: 1799px;
left: 1000px;
width: 333px;
height: 222px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}

.eligibility-white-box4{
  position: absolute;
  top: 2091px;
left: 332px;
width: 336px;
height: 225px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}

.eligibility-white-box5{
  position: absolute;
  top: 2091px;
left: 768px;
width: 336px;
height: 225px;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}


.line-19-css{
  position: absolute;
  top: 1728px;
left: 587px;
width: 213px;
height: 0px;
/* UI Properties */
background: transparent url('img/Line 19.png') 0% 0% no-repeat padding-box;
border: 3px solid #FC6603;
opacity: 1;
}

.elegibilty-span1{
  position: absolute;
  top: 1863px;
left: 155px;
width: 242px;
height: 97px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.elegibilty-span2{
  position: absolute;
  top: 1828px;
left: 578px;
width: 289px;
height: 167px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.elegibilty-span3{
  position: absolute;
  top: 1846px;
left: 1032px;
width: 270px;
height: 95px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.elegibilty-span4{
  position: absolute;
  top: 2155px;
left: 379px;
width: 242px;
height: 97px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.elegibilty-span5{
  position: absolute;
  top: 2136px;
left: 792px;
width: 289px;
height: 135px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.benifits-box{
  position: absolute;
  top: 2412px;
left: 595px;
width: 199px;
height: 58px;
/* UI Properties */
text-align: center;
font: normal normal medium 51px/60px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.benifit-heading{
  top: 2412px;
left: 595px;
width: 199px;
height: 58px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #152745;
}

.line-20-css{
  position: absolute;
  top: 2477px;
left: 634px;
width: 127px;
height: 0px;
background: transparent url('img/Line 20.png') 0% 0% no-repeat padding-box;
border: 3px solid #FC6603;
opacity: 1;
}

.benifits-box1{
  position: absolute;
  top: 2551px;
left: 67px;
width: 382px;
height: 320px;
/* UI Properties */
background: #FFE7D9 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}

.benifits-box2{
/* Layout Properties */
position: absolute;
top: 2551px;
left: 529px;
width: 382px;
height: 320px;
/* UI Properties */
background: #FFE7D9 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}

.benifits-box3{
position: absolute;
/* Layout Properties */
top: 2551px;
left: 991px;
width: 382px;
height: 320px;
/* UI Properties */
background: #FFE7D9 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 10px;
opacity: 1;
}

.benifit-box-img1{
  position: absolute;
  top: 2563px;
left: 91px;
width: 58px;
height: 58px;
/* UI Properties */
background: transparent url('img/Group 5481.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.benifit-box-img2{
  position: absolute;
  top: 2563px;
  left: 1015px;
  width: 58px;
  height: 58px;
  /* UI Properties */
  background: transparent url('img/Group 5486.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.benifit-box-img3{
  /* Layout Properties */
  position: absolute;
top: 2563px;
left: 1015px;
width: 58px;
height: 58px;
/* UI Properties */
background: transparent url('img/Group 5486.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.benifit-bold1
{
  position: absolute;
  top: 2639px;
left: 91px;
width: 231px;
height: 62px;
/* UI Properties */
text-align: center;
font: normal normal medium 24px/30px Roboto;
font-weight: bold;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.benifit-bold2{
  position: absolute;
  top: 2639px;
left: 553px;
width: 231px;
height: 62px;
/* UI Properties */
text-align: left;
font: normal normal medium 24px/30px Roboto;
font-weight: bold;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.benifit-bold3{
  position: absolute;
  top: 2639px;
left: 1015px;
width: 231px;
height: 62px;
/* UI Properties */
text-align: left;
font: normal normal medium 24px/30px Roboto;
font-weight: bold;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.benifit-normal1{
  position: absolute;
  top: 2719px;
left: 91px;
width: 335px;
height: 100px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.benifit-normal2{
  position: absolute;
  top: 2719px;
left: 553px;
width: 335px;
height: 135px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.benifit-normal3{
  position: absolute;
  /* Layout Properties */
top: 2719px;
left: 1015px;
width: 335px;
height: 135px;
/* UI Properties */
text-align: left;
font: normal normal normal 20px/34px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.documents-heading{
  position: absolute;
  top: 2967px;
left: 481px;
width: 478px;
height: 67px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #152745;
}

.line-21-css{
  position: absolute;
  top: 3041px;
left: 599px;
width: 243px;
height: 0px;
/* UI Properties */
background: transparent url('img/Line 21.png') 0% 0% no-repeat padding-box;
border: 3px solid #FC6603;
opacity: 1;
}

.document-box1
{
  position: absolute;
  top: 3106px;
  left: 67px;
  width: 382px;
  height: 95px;
  /* UI Properties */
  background: #FFE7D9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;  
}

.document-box2
{
  position: absolute;
  top: 3106px;
  left: 529px;
  width: 382px;
  height: 95px;
  /* UI Properties */
  background: #FFE7D9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;  
}

.document-box3
{
  position: absolute;
  top: 3106px;
  left: 991px;
  width: 382px;
  height: 95px;
  /* UI Properties */
  background: #FFE7D9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;  
}

.document-box4
{
  position: absolute;
  top: 3252px;
  left: 529px;
  width: 382px;
  height: 95px;
  /* UI Properties */
  background: #FFE7D9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;  
}

.document-box5
{
  position: absolute;
  top: 3252px;
  left: 991px;
  width: 382px;
  height: 95px;
  /* UI Properties */
  background: #FFE7D9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;  
}

.document-box6
{
  position: absolute;
  top: 3252px;
  left: 67px;
  width: 382px;
  height: 95px;
  /* UI Properties */
  background: #FFE7D9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;  
}

.document-text1{
  position: absolute;
  top: 3123px;
left: 177px;
width: 163px;
height: 62px;
/* UI Properties */
text-align: center;
font: normal normal medium 24px/30px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.document-text2{
  position: absolute;
  top: 3138px;
left: 630px;
width: 181px;
height: 32px;
/* UI Properties */
text-align: center;
font: normal normal medium 24px/30px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.document-text3{
  position: absolute;
  top: 3138px;
left: 1076px;
width: 212px;
height: 32px;
/* UI Properties */
text-align: center;
font: normal normal medium 24px/30px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.document-text4{
  /* Layout Properties */
  position: absolute;
top: 3284px;
left: 232px;
width: 53px;
height: 32px;
/* UI Properties */
text-align: center;
font: normal normal medium 24px/30px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.document-text5
{
  /* Layout Properties */
  position: absolute;
top: 3284px;
left: 672px;
width: 97px;
height: 32px;
/* UI Properties */
text-align: center;
font: normal normal medium 24px/30px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.document-text6{
  position: absolute;
  top: 3284px;
left: 1093px;
width: 179px;
height: 32px;
/* UI Properties */
text-align: center;
font: normal normal medium 24px/30px Roboto;
letter-spacing: 0px;
color: #152745;
opacity: 1;
}

.question-mark{
  position: absolute;
  top: 3576px;
left: 67px;
width: 340px;
height: 551px;
/* UI Properties */
background: transparent url('img/Group 5488.png') 0% 0% no-repeat padding-box;
opacity: 1;
}

.faq-text{
  position: absolute;
  top: 3443px;
left: 595px;
width: 199px;
height: 59px;
/* UI Properties */
text-align: center;
font: normal normal bold 28px/18px Roboto;
letter-spacing: 0px;
color: #152745;
}

.line-22-css
{
  position: absolute;
  top: 3509px;
left: 649px;
width: 80px;
height: 0px;
/* UI Properties */
background: transparent url('img/Line 22.png') 0% 0% no-repeat padding-box;
border: 3px solid #FC6603;
opacity: 1;
}